In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'name'    : ['김동하', '이상욱', '심민규', '이영빈'],
                   'english' : [90, 80, 90, 70],
                   'math'    : [50, 60, 70, 60]})
df

  name  english  math
0  김동하       90    50
1  이상욱       80    60
2  심민규       90    70
3  이영빈       70    60

In [3]:
df['english']

0    90
1    80
2    90
3    70
Name: english, dtype: int64

In [4]:
sum(df['english'])

330

In [5]:
sum(df['math'])

240

In [6]:
sum(df['english']) / 4

82.5

In [7]:
sum(df['math']) / 4

60.0

In [8]:
df2 = pd.DataFrame({'제품' : ['사과', '딸기', '수박'],
                    '가격' : [1800, 1500, 3000],
                    '판매량' : [24,38, 13]})
df2

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13